/***********************************/
/******** General Settings *********/
/***********************************/

body {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
}

h2 {
    margin: 0;
}

hr {
    border: 0.5px solid black;
}

/***********************************/
/********* Header Settings *********/
/***********************************/

.navigation {
    background-color: #4466A9;
    height: 70px;
}

.navigation-left-elements li img {
    width: 200px;
    padding-top: 10px;
}

.navigation-left-elements li:first-child {
    padding-left: 5px;
}

.navigation-left-elements li {
    float: left;
    padding: 5px;
}

.navigation-left-elements li i {
    color: white;
    font-size: 25px;
    margin-top: 30px;
}

.navigation-middle {
    position: absolute;
    top: 35px;
    left: 405px;
}

.navigation-middle input {
    width: 300px;
    height: 20px;
}

.navigation-middle button {
    height: 26px;
}

.navigation-right-elements {
    float: right;
    margin-top: 20px;
}

.navigation-right-elements li {
    float: left;
    color: white;
    font-size: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

/***********************************/
/******** Content Settings *********/
/***********************************/

main {
    position: absolute;
}

.left-part {
    float: left;
    height: 100vh;
    width: 21vw;
}

.middle-section {
    float: left;
    height: 100vh;
    width: 60vw;
}

.left-section {
    border-right: 1px solid black;
}

.left-section-profile {
    padding: 40px 0 0 150px;
}

.profile-picture {
    padding: 50px;
    border: 1px solid black;
    margin: 30px 0 0 30px;
    float: left;
}

.left-section i {
    padding-right: 5px;
}

.menu {
    padding: 20px 0 0 40px;
}

.menu li {
    font-size: 18px;
}

.friend-search {
    padding-left: 20px;
    padding-top: 20px;
}

.middle-section-title {
    padding-top: 10px;
}

.middle-section-title-elements li {
    float: left;
    padding-left: 25px;
}

.middle-section-title-elements li:first-child {
    padding-right: 400px;
}

.middle-section-title-elements li:nth-child(n+2) {
    padding-top: 30px;
    font-size: 20px;
}

.decoration {
    font-size: 40px !important;
    padding-top: 15px !important;
}

.sharing-section-list li {
    font-size: 20px;
    float: left;
    padding-left: 20px;
}

.sharing-section-list li:first-child {
    font-size: 25px;
    padding-top: 5px;
}

.sharing-section-list li i {
    font-size: 25px;
    padding-top: 5px;
}

.individual-post img {
    margin: 0 20px 20px 20px;
    float: left;
}

.section {
    padding: 20px;
    margin: 60px 0 0 20px;
    border: 1px solid black;
    background-color: #a9bbdd;
}

.comment {
    margin-top: 20px;
}

.section i {
    font-size: 30px;
    color: white;
}

.right-section {
    float: right;
    top: 9.2vh;
    position: absolute;
    left: 81vw;
    width: 22%;
}

.events h2 {
    float: left;
    padding-left: 20px;
}

.events a {
    padding-top: 5px;
    padding-right: 20px;
}

.events-title {
    background-color: #b2b2b2;
}

.events input {
    width: 17.7vw;
    margin: 20px 0 0 0;
    height: 30px;
}

.sponsored-picture {
    padding: 100px 150px;
    border: 1px solid black;
    margin: 30px 0 0 30px;
    float: left;
}
